---
- hosts: containers
  gather_facts: yes
  become: yes # Run tasks with sudo privileges

  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes

    - name: Upgrade all packages
      ansible.builtin.apt:
        upgrade: dist